<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Vipole</title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h1>Blog Vipole</h1></a>
            <p>A net Vipole</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/about-us">About-us</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content"></div>
       <h2>About Us</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ab nisi mollitia unde dolorem aspernatur rerum aliquam perferendis quia velit suscipit impedit, eum vel rem minus quod exercitationem voluptatum maiores!</p>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores ea sapiente sint iusto soluta earum, sunt ullam eos fugit amet. Officia veritatis laborum fugit eveniet magnam est similique velit aut.</p>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quasi excepturi natus saepe accusantium soluta similique consequuntur dolores fugiat perferendis! Magnam dignissimos quod numquam fugit commodi sed blanditiis! Minus, ullam?</p>
    </div>
</body>
</html>